/* start of course search dropdown */

.dropbtn {
    background-color: rgb(217,181,61);
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    top:20px;
    right:10px;
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    min-width: 225px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 500px;
    overflow-y: scroll;
    border-radius: 5%;
    z-index: 1;
  }

  .dropdown-content #myInput2 {
    box-sizing: border-box;
    width: 96%;
    margin: 8px 0px;
    margin-left: 4px;
    justify-content: center;
    font-size: 16px;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #1e90ff}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(217,181,61);
  }

  /* end of course search drop down */

/* ------------------------------------------------------------------------------------------- */

  /* start of admin drop down */

  .dropdown1 {
      position: relative;
  }

  .dropdown1-content {
      display: none;
      right: 0;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }

  .dropdown1-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
  }

  .dropdown1-content a:hover {
      background-color: #ddd;
      text-align: center;
  }

  .dropdown1:hover .dropdown1-content {
      display: block;
  }

  .dropdown1:hover .dropbtn1 {
      background-color: #3e8e41;
  }

  .flex-row .login-btn, .flex-row .logout-btn {
      background-color: #d8b63d;
      border: none;
      /* font-size: 18px;
      padding: 10px 25px; */

  }

  .flex-row .login-btn:hover {
      background-color: black;
      color: white;
  }


  /* end of admin dropdown */